<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link re="stylesheet" href="../public/style.css">
    <title>All notes</title>
</head>
<body>
    <h1> Notes </h1>

    <ul>
    <% notes.forEach(note => { %>
        <li>  
            <h2> <%= note.title %> </h2>
            <p> <%= note.contents %> </p>
            <p> <%= note.timestamp %> </p>
        </li>
       

    <% }) %>
    </ul>

</body>
</html>